/*
* Ã¦Ë†â€˜Ã¤Â»Â¬Ã§Å¡â€žÃ¨â€¡ÂªÃ¥Â®Å¡Ã¤Â¹â€°Ã¦Â Â·Ã¥Â¼Â
* @Author: iceStone
* @Date:   2016-11-8 10:56:34
* @Last Modified by:   Administrator
* @Last Modified time: 2016-11-16 18:33:50
*/


/**
 * 1. Ã¦Â Â·Ã¥Â¼ÂÃ©Æ’Â½Ã©â‚¬Å¡Ã¨Â¿â€¡IDÃ¥Å½Â»Ã©â„¢ÂÃ¥Â®Å¡
 * 2. Ã¥Â°Â½Ã¥ÂÂ¯Ã¨Æ’Â½Ã¥Â¤Å¡Ã¤Â½Â¿Ã§â€Â¨Ã§â€ºÂ´Ã¦Å½Â¥Ã¥Â­ÂÃ¤Â»Â£Ã©â‚¬â€°Ã¦â€¹Â©Ã¥â„¢Â¨
 */


/**
 * BootstrapÃ¦â€°Â©Ã¥Â±â€¢
 */



.panel-czbk {
    border: 0;
    border-radius: 0;
    box-shadow: 1px 2px 5px #ccc;
}
.panel-czbk.active{
    background-color: #E92322;
    color: #fff;
}
.panel-czbk.active::before{
    content: "\e915";
    font-family: itcast;
    font-size: 50px;
    position: absolute;
    top: -11px;
}
.panel-czbk.disabled{
    background-color: #e0e0e0;
}
.panel-czbk > .panel-heading {
    /* color: #333; */
    /* background-color: #f5f5f5; */
    /* border-color: #ddd; */
    float: right;
    width: 120px;
    padding: 0;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    text-align: center;
    position: relative;
}
.panel-czbk > .panel-heading::before,
.panel-czbk > .panel-heading::after{
    content: '';
    width: 16px;
    height: 16px;
    border-radius:10px;
    background-color: #f0f0f0;
    position: absolute;
}
.panel-czbk > .panel-heading::before{

top: -8px;

left: -8px;
}
.panel-czbk > .panel-heading::after{

bottom: -8px;

left: -8px;

box-shadow: 0 1px 1px #ccc inset;
}

.panel-czbk > .panel-body{
    margin-right: 120px;
    height: 150px;
}
.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-czbk > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}

/*Ã¦â€°Â©Ã¥Â±â€¢Ã§Â»â€œÃ¦ÂÅ¸*/

/*Ã¥â€¦Â¬Ã¥â€¦Â±Ã¦Â Â·Ã¥Â¼Â*/


/*#header > .topbar > .container > .row > div {
  background-color: #f40;
   height: 40px
}

#header > .topbar > .container > .row > div:nth-of-type(2n) {
  background-color: #f00;
}*/


/**
 * ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚ÂµÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¹ÃƒÆ’Ã‚Â¨Ãƒâ€šÃ‚Â¯ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¢ÃƒÆ’Ã‚Â¦Ãƒâ€šÃ‚Â Ãƒâ€šÃ‚Â·ÃƒÆ’Ã‚Â¥Ãƒâ€šÃ‚Â¼Ãƒâ€šÃ‚ÂÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã¢â‚¬â„¢Ãƒâ€šÃ‚ÂºÃƒÆ’Ã‚Â¥Ãƒâ€¦Ã‚Â¸Ãƒâ€¦Ã‚Â¸
 */

/*Ã©â‚¬Å¡Ã¦Â ÂÃ¥Â¹Â¿Ã¥â€˜Å Ã¨Â½Â®Ã¦â€™Â­*/

#main_ad{}

#main_ad > .carousel-inner > .item{
 /*  height: 410px; */
  background: no-repeat center center;
  /* height: 450px; */
  background-size: cover;   /*Ã¨Â¦â€ Ã§â€ºâ€“Ã¥Â°ÂÃ©ÂÂ¢*/

}

 @media (min-width: 768px) {
  
  #main_ad > .carousel-inner > .item {
    height: 410px;
  }
}

#main_ad > .carousel-inner > .item > img {
  width: 100%;
}

/*Ã§â€°Â¹Ã¨â€°Â²*/
#tese {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}
.icon-uniE900:before {
    content: "\e900";
}
.icon-uniE901:before {
    content: "\e901";
}

.icon-uniE902:before {
    content: "\e902";
}

.icon-uniE903:before {
    content: "\e903";
}

.icon-uniE904:before {
    content: "\e904";
}

.icon-uniE905:before {
    content: "\e905";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE907:before {
    content: "\e907";
}

#tese i {
    font-size: 34px;
}
#tese > .container > .row > div > a:hover{
   color:  #E92322;
}
#tese > .container > .row > div {
    margin-top: 20px;
    margin-bottom: 20px;
}



/*#tese > .container > .row > div {
  height: 50px;
  background-color: #f40;
}

#tese > .container > .row > div:nth-of-type(2n) {
  background-color: #04f;
}
*/


/**
Ã§Â«â€¹Ã¥ÂÂ³Ã©Â¢â€žÃ§ÂºÂ¦
 */

#ljyy {
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0;
}

#ljyy > .container > p {
    /*line-height: 50px;*/
    font-size: 16px;
    margin-bottom: 0;
}

#ljyy > .container > .pull-left > span,
#ljyy > .container > .pull-left > a {
    color: #e92322;
}

#ljyy > .container > .pull-left > a {
    border-bottom: 1px dashed #e92322;
}

#ljyy > .container > p >i{
    font-size: 20px;
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}


/**
 * Ã©â‚¬â€°Ã©Â¡Â¹Ã¥ÂÂ¡Ã‚Â
 */

#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}


#products >.container > .ul-wapper > .nav-tabs{
 padding-left: 20px;
}

#products >.container > .ul-wapper > .nav-tabs > li{

}
#products >.container > .ul-wapper > .nav-tabs > li >a {
    font-size: 16px;
}
#products >.container > .ul-wapper > .nav-tabs > li >a:hover {

border-color: transparent;

background-color: transparent;

color: #000;
}
#products >.container > .ul-wapper > .nav-tabs > li.active{

}
#products >.container > .ul-wapper > .nav-tabs > li.active> a {

background-color: transparent;

border: 0;

border-bottom: 3px solid #E92322;
}

#products > .container > .tab-content{
    padding: 20px;
}
#products> .container> .tab-content p{
    margin-bottom: 0;
}
.panel-heading{
    position: relative;
}

.panel-heading strong{
    font-size: 36px;


}
.panel-heading p{
   /*  display: block; */
    position: absolute;
    top:40px;
    left:5px;
    text-align: center;
    width: 100%

}
.panel-heading p strong{
  /* color: #fff; */
}
.panel-heading p.tooltips{
  position: absolute;
  top: 20px;
}
.tooltips .badge-one{
  border: 1px solid #e92322;
  color: #e92322;
}
.tooltips .badge-two{
  border: 1px solid #339999;
  color: #339999;
}
 /* section {
  height: 200px;
  background-color: #fff;
}

section:nth-of-type(2n) {
  Ã©â‚¬â€°Ã¦â€¹Â©Ã¥Ë†Â°Ã§Â¬Â¬1,3,5,Ã£â‚¬â€šÃ£â‚¬â€šÃ£â‚¬â€šÃ£â‚¬â€š
   background-color: #f5f5f5;
} 
 */


/**
 * Ã¨â€žÅ¡Ã¦Â³Â¨Ã¥Å’ÂºÃ¥Å¸Å¸
 */

/*æ–°é—»æ¿å—*/

#news{
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

#news .news-title{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding: 15px 30px;
    border-bottom: 1px dashed #c0c0c0;
    position: relative;
    margin-right: 10px;
}

#news .news-title::after{
    content: '';
    /*display: inline-block;*/
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    position: absolute;
    bottom: -5px;
    right:-10px;
}


.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}
s .nav-stacked > li > i{
    /*text-align: center;*/
}
/*åª’ä½“æŸ¥è¯¢*/
@media(max-width:768px)  {
    #news .nav-stacked > li {
        float: left;
        margin-right: 20px;
    }
}
#news .tab-pane ul {
    list-style: none;
    font-size: 14px;
    line-height: 3;
    padding: 0;
}

/* å…¬å…±éƒ¨åˆ†åˆä½œä¼™ä¼´*/









#footer {
    height: 200px;
}
